<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <style>
        .boton {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .boton:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Hola Mundo</h1>
    <a href="/Dani" class="boton">Ir a Dani</a>
    <a href="/Taty" class="boton">Ir a Taty</a>
    <a href="/Oscar" class="boton">Ir a Oscar</a>
    <a href="/formulario" class="boton">Ir a formulario</a>
</body>
</html>