<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Oscar</title>
    <style>
        .rojo-grande {
            color: red;
            font-size: 48px;
        }

        .boton {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .boton:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <p class="rojo-grande">Agustin<p>
    <br><br>
    <a href="/" class="boton">Volver</a>
</body>
</html>